{% extends 'basic.html' %}
{% load static %}
    {% block content %}
    <div class="container text-center form-box">
        <div id="accounts">
            <div class="invalid">
                {%for i in messages%}
                    <h3>{{i}}</h3>
                {% endfor %}
            </div>
            <form id="Login" action="login" class="input-group text-center" method="post">
                {% csrf_token %}
                <div>
                    <input type="text" name="mail" class='input-field text-center' placeholder="Email" required>
                </div>
                <div>
                    <input type="password" name="password" class='input-field text-center' placeholder="Password" required>
                </div>
                New User?<a href="{% url 'register' %}">Sign up</a>
                <div class="Sign_In">
                    <button  type="submit" name="Sign In" class="toggle-btn"><h4>Sign In</h4></button>
                </div>
            </form>
        </div>    
    </div>
    {% endblock %}